<a href="https://colab.research.google.com/github/nickwan/nwds-stream-notebooks/blob/main/pybaseball_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install panel -q
!pip install pybaseball -q
!pip install adjustText -q

Collecting pybaseball
  Downloading https://files.pythonhosted.org/packages/63/00/31891da5b632821864411d5b3327df137e93d0bce118d94e9d0f6baa5c00/pybaseball-1.0.8.tar.gz
Requirement already satisfied: numpy>=1.13.0 in /usr/local/lib/python3.6/dist-packages (from pybaseball) (1.18.5)
Requirement already satisfied: pandas>=0.20.2 in /usr/local/lib/python3.6/dist-packages (from pybaseball) (1.0.5)
Requirement already satisfied: beautifulsoup4>=4.4.0 in /usr/local/lib/python3.6/dist-packages (from pybaseball) (4.6.3)
Requirement already satisfied: requests>=2.18.1 in /usr/local/lib/python3.6/dist-packages (from pybaseball) (2.23.0)
Requirement already satisfied: lxml>=4.2.1 in /usr/local/lib/python3.6/dist-packages (from pybaseball) (4.2.6)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.20.2->pybaseball) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.20.2->pybaseball) (2018.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.18.1->pybaseball) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.18.1->pybaseball) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.18.1->pybaseball) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.18.1->pybaseball) (3.0.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.20.2->pybaseball) (1.12.0)
Building wheels for collected packages: pybaseball
  Building wheel for pybaseball (setup.py) ... done
  Created wheel for pybaseball: filename=pybaseball-1.0.8-cp36-none-any.whl size=36008 sha256=66b5a910678feb443776d704222f61a8706982e36f124e320a16de11bcd2ec48
  Stored in directory: /root/.cache/pip/wheels/d5/7b/fb/b1f8a38eb135628a747627977fd18d13ce2c210cffa08ee5a5
Successfully built pybaseball
Installing collected packages: pybaseball
Successfully installed pybaseball-1.0.8
  Building wheel for adjustText (setup.py) ... done

In [ ]:
import pybaseball as bb
import warnings
from bs4 import BeautifulSoup
import time
from joblib import dump, load
import random
import requests
import json
import datetime
import os
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from adjustText import adjust_text
from tqdm.notebook import tqdm

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
def validate_datestring(date_text):
    try:
        datetime.datetime.strptime(date_text, '%Y-%m-%d')
    except ValueError:
        raise ValueError("Incorrect data format, should be YYYY-MM-DD")

def sanitize_input(start_dt, end_dt):
    # if no dates are supplied, assume they want yesterday's data
    # send a warning in case they wanted to specify
    if start_dt is None and end_dt is None:
        today = datetime.datetime.today()
        start_dt = (today - datetime.timedelta(1)).strftime("%Y-%m-%d")
        end_dt = today.strftime("%Y-%m-%d")
        print("Warning: no date range supplied. Returning yesterday's data. For a different date range, try batting_stats_range(start_dt, end_dt) or batting_stats(season).")

    #if only one date is supplied, assume they only want that day's stats
    #query in this case is from date 1 to date 1
    if start_dt is None:
        start_dt = end_dt
    if end_dt is None:
        end_dt = start_dt
    #if end date occurs before start date, swap them
    if end_dt < start_dt:
        temp = start_dt
        start_dt = end_dt
        end_dt = temp

    # now that both dates are not None, make sure they are valid date strings
    validate_datestring(start_dt)
    validate_datestring(end_dt)
    return start_dt, end_dt

def batting_stats_range(start_dt=None, end_dt=None):
    """
    Get all batting stats for a set time range. This can be the past week, the
    month of August, anything. Just supply the start and end date in YYYY-MM-DD
    format.
    """
    warnings.warn("\nPlease consider supporting FanGraphs\nhttps://plus.fangraphs.com/product/fangraphs-membership/", Warning)

    # make sure date inputs are valid
    start_dt, end_dt = sanitize_input(start_dt, end_dt)
    if datetime.datetime.strptime(start_dt, "%Y-%m-%d").year < 2008:
        raise ValueError("Year must be 2008 or later")
    if datetime.datetime.strptime(end_dt, "%Y-%m-%d").year < 2008:
        raise ValueError("Year must be 2008 or later")
    # retrieve html from baseball reference
    url = f"https://www.fangraphs.com/leaders.aspx?pos=all&stats=bat&lg=all&qual=1&type=c,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,34,35,36,37,38,39,40,60,41,201,205,200,52,51,50,61,62,63,64,65,66,67,68,69,70,71,53,111,54,56,203,199,204,55,57,58,59&season={start_dt[:4]}&month=1000&season1={end_dt[:4]}&ind=0&startdate={start_dt}&enddate={end_dt}&page=1_1500"
    s = requests.get(url).content
    soup = BeautifulSoup(s, "lxml")
    table = soup.find_all('table')[16]
    data = []
    headings = [th.get_text() for th in table.find_all("th")]
    data.append(headings)
    table_body = table.find('tbody')
    rows = table_body.find_all('tr')
    for row in rows:
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        data.append([ele for ele in cols])
    data = pd.DataFrame(data)
    data = data.rename(columns=data.iloc[0])
    table = data.reindex(data.index.drop(0))
    table = table.dropna(how='all')  # drop if all columns are NA
    # scraped data is initially in string format.
    # convert the necessary columns to numeric.
    for column in ['#', 'Age', 'G', 'AB', 'PA', 'H', '1B', '2B', '3B',
           'HR', 'R', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SF', 'SH', 'GDP',
           'SB', 'CS', 'AVG', 'BB/K', 'OBP', 'SLG', 'OPS', 'ISO',
           'Spd', 'BABIP', 'UBR', 'wGDP', 'wSB', 'wRC', 'wRAA', 'wOBA',
           'wRC+', 'WPA', '-WPA', '+WPA', 'RE24', 'REW', 'pLI', 'phLI', 'PH',
           'WPA/LI', 'Clutch', 'Bat', 'BsR', 'Fld', 'Pos', 'Off', 'Def', 'Lg',
           'Rep', 'RAR', 'WAR']:
        #table[column] = table[column].astype('float')
        table[column] = pd.to_numeric(table[column])
        #table['column'] = table['column'].convert_objects(convert_numeric=True)
    table = table.reset_index(drop=True)
    return table

def pitching_stats_range(start_dt=None, end_dt=None):
    """
    Get all pitching stats for a set time range. This can be the past week, the
    month of August, anything. Just supply the start and end date in YYYY-MM-DD
    format.
    """
    warnings.warn("\nPlease consider supporting FanGraphs\nhttps://plus.fangraphs.com/product/fangraphs-membership/", Warning)
    # ensure valid date strings, perform necessary processing for query
    start_dt, end_dt = sanitize_input(start_dt, end_dt)
    if datetime.datetime.strptime(start_dt, "%Y-%m-%d").year < 2008:
        raise ValueError("Year must be 2008 or later")
    if datetime.datetime.strptime(end_dt, "%Y-%m-%d").year < 2008:
        raise ValueError("Year must be 2008 or later")
    # retrieve html from baseball reference
    # get most recent standings if date not specified
    if((start_dt is None) or (end_dt is None)):
        print('Error: a date range needs to be specified')
        return None
    url = f"https://www.fangraphs.com/leaders.aspx?pos=all&stats=pit&lg=all&qual=1&type=c,4,5,6,7,8,9,10,11,114,12,13,14,15,16,17,18,19,20,21,22,23,24,36,37,38,40,120,121,217,41,42,43,44,117,118,119,45,124,62,122,229,240,251,262,273,230,241,252,263,274,231,242,253,264,275,234,245,256,267,278,226,237,248,259,270,235,246,257,268,279,228,239,250,261,272,227,238,249,260,271,232,243,254,265,276,233,244,255,266,277,236,247,258,269,280,63,64,65,66,67,68,69,70,71,72,73,74,115,116,212,213,214,215,58,59,60,54,55,56,57,29,30,31,292,293,294,295,296,297,298,299&season={start_dt[:4]}&month=0&season1={end_dt[:4]}&ind=0&team=0&rost=0&age=0&filter=&players=0&startdate={start_dt}&enddate={end_dt}&page=1_1500"
    s = requests.get(url).content
    soup = BeautifulSoup(s, "lxml")

    table = soup.find_all('table')[16]
    data = []
    headings = [th.get_text() for th in table.find_all("th")]
    data.append(headings)
    table_body = table.find('tbody')
    rows = table_body.find_all('tr')
    for row in rows:
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        data.append([ele for ele in cols])
    data = pd.DataFrame(data)
    data = data.rename(columns=data.iloc[0])
    data = data.reindex(data.index.drop(0))
    table = data
    table = table.dropna(how='all')  # drop if all columns are NA
    # scraped data is initially in string format.
    # convert the necessary columns to numeric.
    for column in ['#', 'W', 'L', 'ERA', 'G', 'GS', 'CG', 'ShO', 'SV',
           'HLD', 'BS', 'IP', 'TBF', 'H', 'R', 'ER', 'HR', 'BB', 'IBB', 'HBP',
           'WP', 'BK', 'SO', 'K/9', 'BB/9', 'K/BB', 'HR/9', 'AVG', 'WHIP', 'BABIP',
           'ERA-', 'FIP-', 'xFIP-',
           'FIP', 'E-F', 'xFIP', 'SIERA', 'vFA (pi)', 'FA-X (pi)',
           'FA-Z (pi)', 'wFA (pi)', 'vFC (pi)', 'FC-X (pi)',
           'FC-Z (pi)', 'wFC (pi)', 'vFS (pi)', 'FS-X (pi)',
           'FS-Z (pi)', 'wFS (pi)', 'vSI (pi)', 'SI-X (pi)',
           'SI-Z (pi)', 'wSI (pi)', 'vCH (pi)', 'CH-X (pi)',
           'CH-Z (pi)', 'wCH (pi)', 'vSL (pi)', 'SL-X (pi)',
           'SL-Z (pi)', 'wSL (pi)', 'vCU (pi)', 'CU-X (pi)',
           'CU-Z (pi)', 'wCU (pi)', 'vCS (pi)', 'CS-X (pi)',
           'CS-Z (pi)', 'wCS (pi)', 'vKN (pi)', 'KN-X (pi)',
           'KN-Z (pi)', 'wKN (pi)', 'vSB (pi)', 'SB-X (pi)',
           'SB-Z (pi)', 'wSB (pi)', 'vXX (pi)', 'XX-X (pi)',
           'XX-Z (pi)', 'wXX (pi)', 'WPA', '-WPA', '+WPA', 'RE24', 'REW',
           'pLI', 'inLI', 'gmLI', 'exLI', 'Pulls', 'WPA/LI', 'Clutch', 'SD',
           'MD', 'RA9-WAR', 'BIP-Wins', 'LOB-Wins', 'FDP-Wins', 'RAR', 'WAR',
           'Starting', 'Start-IP', 'Relieving', 'Relief-IP',
           'Balls', 'Strikes', 'Pitches', 'Pace (pi)']:
        #table[column] = table[column].astype('float')
        table[column] = pd.to_numeric(table[column])
        #table['column'] = table['column'].convert_objects(convert_numeric=True)
    table = table.reset_index(drop=True)
    return table

In [ ]:
season = 2019
teams = bb.teams()
teams = teams.loc[teams['yearID']==season]

In [ ]:
schedule = pd.DataFrame()
for team in teams['teamIDBR'].unique():
  _schedule = bb.schedule_and_record(season=season,team=team)
  _schedule = _schedule.reset_index().rename(columns={'index':'game_num'})
  _schedule = _schedule.loc[_schedule['game_num']<=60]
  schedule = schedule.append(_schedule,ignore_index=True)
schedule['date_played'] = pd.to_datetime(schedule['Date'].str.split(', ',expand=True)[1].str.split('(',expand=True)[0].add(f' {season}'))
schedule['date_scheduled'] = pd.to_datetime(schedule['Orig. Scheduled'].str.split('(', expand=True)[0])
schedule['date_scheduled'] = schedule['date_scheduled'].fillna(schedule['date_played'])
schedule['GB'] = schedule['GB'].str.replace('Tied', '0').str.replace('up ', 'up').str.replace('up', '-').astype(float).mul(-1)
schedule = schedule.merge(schedule['W-L']
                          .str
                          .split('-',expand=True)
                          .rename(columns={0:'win_record',
                                           1:'loss_record'}),
                          left_index=True,
                          right_index=True)
int_cols = ['win_record','loss_record']
schedule.loc[:,int_cols] = schedule.loc[:,int_cols].astype(int)
schedule.shape

(1800, 24)

In [ ]:
max_date = schedule['date_played'].max().strftime("%Y-%m-%d")
min_date = schedule['date_played'].min().strftime("%Y-%m-%d")

In [ ]:
batters = batting_stats_range(min_date, max_date)
pitchers = pitching_stats_range(min_date, max_date)

print(f"batters: {batters.shape}\npitchers: {pitchers.shape}")

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:39: Warning:
Please consider supporting FanGraphs
https://plus.fangraphs.com/product/fangraphs-membership/
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:86: Warning:
Please consider supporting FanGraphs
https://plus.fangraphs.com/product/fangraphs-membership/

batters: (730, 61)
pitchers: (818, 134)

In [ ]:
schedule.columns.values

array(['game_num', 'Date', 'Tm', 'Home_Away', 'Opp', 'W/L', 'R', 'RA',
       'Inn', 'W-L', 'Rank', 'GB', 'Win', 'Loss', 'Save', 'Time', 'D/N',
       'Attendance', 'Streak', 'Orig. Scheduled', 'date_played',
       'date_scheduled', 'win_record', 'loss_record'], dtype=object)

In [ ]:
schedule['game_num'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60])

In [ ]:
tex = bb.schedule_and_record(season=2019,team='TEX')
tex

                  Date   Tm Home_Away  ... Attendance Streak  Orig. Scheduled
1     Thursday, Mar 28  TEX      Home  ...    48538.0     -1             None
2     Saturday, Mar 30  TEX      Home  ...    46238.0      1             None
3       Sunday, Mar 31  TEX      Home  ...    36812.0      2             None
4        Monday, Apr 1  TEX      Home  ...    18056.0     -1             None
5       Tuesday, Apr 2  TEX      Home  ...    17907.0      1             None
..                 ...  ...       ...  ...        ...    ...              ...
158  Wednesday, Sep 25  TEX      Home  ...    29290.0     -2             None
159   Thursday, Sep 26  TEX      Home  ...    24612.0      1             None
160     Friday, Sep 27  TEX      Home  ...    35168.0     -1             None
161   Saturday, Sep 28  TEX      Home  ...    42870.0      1             None
162     Sunday, Sep 29  TEX      Home  ...    47144.0      2             None

[162 rows x 19 columns]

In [ ]:
last_game = schedule.loc[schedule['game_num']==60]
last_game = last_game.sort_values(['Rank','GB','win_record','loss_record'],ascending=[1,0,0,1])
last_game.head(10)

      game_num              Date   Tm  ... date_scheduled win_record loss_record
1019        60  Wednesday, Jun 5  MIN  ...     2019-06-05         40          20
839         60     Sunday, Jun 2  LAD  ...     2019-06-02         41          19
659         60     Sunday, Jun 2  HOU  ...     2019-06-02         40          20
1079        60  Wednesday, Jun 5  NYY  ...     2019-06-05         38          22
959         60     Sunday, Jun 2  MIL  ...     2019-06-02         34          26
359         60  Wednesday, Jun 5  CHC  ...     2019-06-05         34          26
1259        60     Monday, Jun 3  PHI  ...     2019-06-03         33          27
119         60    Tuesday, Jun 4  ATL  ...     2019-06-04         33          27
1619        60   Thursday, Jun 6  TBR  ...     2019-06-06         37          23
1679        60   Thursday, Jun 6  TEX  ...     2019-06-06         32          28

[10 rows x 24 columns]

In [ ]:
batters.sort_values('HR',ascending=False).head(10)

       #              Name     Team  Age   G  ...   Lg  Rep   RAR  WAR    Dol
20    21  Christian Yelich  Brewers   27  56  ...  0.2  7.7  37.1  3.6  $28.9
62    63      Peter Alonso     Mets   24  61  ...  0.2  8.0  18.6  1.8  $14.4
17    18    Cody Bellinger  Dodgers   23  60  ...  0.2  8.1  42.6  4.1  $33.1
57    58      Gary Sanchez  Yankees   26  43  ...  0.7  5.7  17.4  1.7  $13.5
146  147     Franmil Reyes   Padres   23  60  ...  0.2  6.8   6.2  0.6   $4.8
48    49      Joc Pederson  Dodgers   27  56  ...  0.2  6.3  19.7  1.9  $15.3
94    95    Mike Moustakas  Brewers   30  56  ...  0.2  7.6  16.9  1.6  $13.1
93    94    Hunter Renfroe   Padres   27  57  ...  0.2  6.0  16.3  1.6  $12.7
141  142     Eddie Rosario    Twins   27  59  ...  1.0  7.9   9.4  0.9   $7.3
23    24         Josh Bell  Pirates   26  60  ...  0.2  8.2  23.9  2.3  $18.6

[10 rows x 61 columns]

In [ ]:
batters.sort_values('WAR',ascending=False).head(10)

     #              Name       Team  Age   G  ...   Lg  Rep   RAR  WAR    Dol
17  18    Cody Bellinger    Dodgers   23  60  ...  0.2  8.1  42.6  4.1  $33.1
34  35        Mike Trout     Angels   27  59  ...  1.0  8.3  38.7  3.8  $30.1
20  21  Christian Yelich    Brewers   27  56  ...  0.2  7.7  37.1  3.6  $28.9
35  36        Joey Gallo    Rangers   25  50  ...  0.8  6.7  30.4  2.9  $23.6
41  42   George Springer     Astros   29  48  ...  0.8  6.8  29.5  2.9  $22.9
52  53      Alex Bregman     Astros   25  62  ...  1.1  8.6  29.8  2.9  $23.2
98  99      Matt Chapman  Athletics   26  62  ...  1.1  8.6  29.0  2.8  $22.5
45  46     Nolan Arenado    Rockies   28  60  ...  0.3  8.5  27.9  2.7  $21.7
24  25    Anthony Rendon  Nationals   29  48  ...  0.2  6.5  27.5  2.7  $21.4
80  81       Javier Baez       Cubs   26  59  ...  0.2  8.1  27.3  2.7  $21.2

[10 rows x 61 columns]

In [ ]:
pitchers.sort_values('SO',ascending=False).head(10)

       #               Name       Team  ...  Contact% (pi)  Zone% (pi)  Pace (pi)
93    94        Gerrit Cole     Astros  ...          66.2%       51.6%       22.9
95    96   Justin Verlander     Astros  ...          68.8%       51.0%       25.9
159  160       Shane Bieber    Indians  ...          70.5%       45.9%       22.7
84    85       Jacob deGrom       Mets  ...          70.2%       49.5%       24.2
362  363       Trevor Bauer      - - -  ...          73.1%       45.9%       24.1
163  164  Stephen Strasburg  Nationals  ...          71.6%       44.7%       26.3
213  214         Lance Lynn    Rangers  ...          74.6%       51.8%       25.1
123  124       Max Scherzer  Nationals  ...          68.4%       51.6%       25.0
141  142     Charlie Morton       Rays  ...          72.6%       51.7%       22.9
156  157     Patrick Corbin  Nationals  ...          69.5%       39.2%       23.5

[10 rows x 134 columns]

In [ ]:
pitchers.sort_values('WAR',ascending=False).head(10)

       #               Name       Team  ...  Contact% (pi)  Zone% (pi)  Pace (pi)
93    94        Gerrit Cole     Astros  ...          66.2%       51.6%       22.9
84    85       Jacob deGrom       Mets  ...          70.2%       49.5%       24.2
213  214         Lance Lynn    Rangers  ...          74.6%       51.8%       25.1
123  124       Max Scherzer  Nationals  ...          68.4%       51.6%       25.0
95    96   Justin Verlander     Astros  ...          68.8%       51.0%       25.9
141  142     Charlie Morton       Rays  ...          72.6%       51.7%       22.9
163  164  Stephen Strasburg  Nationals  ...          71.6%       44.7%       26.3
159  160       Shane Bieber    Indians  ...          70.5%       45.9%       22.7
126  127       Zack Greinke      - - -  ...          77.2%       46.1%       25.5
178  179      Lucas Giolito  White Sox  ...          70.0%       51.4%       25.3

[10 rows x 134 columns]

In [ ]:
perc_cols = ['BB%', 'K%']
for col in perc_cols:
  batters.loc[:,col] = batters.loc[:,col].str.rstrip('%').astype(float).div(100)

In [ ]:
app_cols = ['Name','Team','PA','AVG','K%','BB%','OBP','SLG','OPS','wOBA',
            'wRC+','WPA/LI','RAR','WAR']
app_data = batters.loc[:,app_cols]

In [ ]:
app_data

              Name      Team   PA    AVG     K%  ...   wOBA  wRC+  WPA/LI  RAR  WAR
248  Manny Machado    Padres  261  0.246  0.215  ...  0.318    97    0.39  8.5  0.8
681  Randy Rosario      Cubs    1  0.000  0.000  ...  0.000  -100    0.00 -0.1  0.0
226    Tim Beckham  Mariners  200  0.241  0.310  ...  0.322   104   -0.15  3.1  0.3
556  Julio Teheran    Braves   24  0.130  0.458  ...  0.129   -31   -0.39 -0.4  0.0
714   Mitch Keller   Pirates    1  0.000  0.000  ...  0.000  -100   -0.03 -0.1  0.0

[5 rows x 14 columns]